<% content_for :body do %>
  <ul id="footers">
    <% @footers.each do |footer| %>
      <li>
        <%= link_to footer.title, refinery.footers_footer_path(footer) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render '/refinery/content_page' %>
