<% content_for :body_content_title do %>
  <%= @footer.title %>
<% end %>

<% content_for :body do %>
  <section>
    <h1>Title</h1>
    <p>
      <%=raw @footer.title %>
    </p>
  </section>
  <section>
    <h1>Content</h1>
    <p>
      <%=raw @footer.content %>
    </p>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="footers">
      <% @footers.each do |footer| %>
        <li>
          <%= link_to footer.title, refinery.footers_footer_path(footer) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
