<ul>
  <% if ::Refinery::Footers::Admin::FootersController.searchable? %>
    <li>
      <%= render '/refinery/admin/search', :url => refinery.footers_admin_footers_path %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), refinery.new_footers_admin_footer_path,
                 :class => "add_icon" %>
  </li>
<% if !searching? && ::Refinery::Footers::Admin::FootersController.sortable? && ::Refinery::Footers::Footer.any? %>
  <li>
    <%= link_to t('.reorder', :what => "Footers"),
                 refinery.footers_admin_footers_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Footers"),
                 refinery.footers_admin_footers_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>
