<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(footer) -%>">
  <span class='title'>
    <%= footer.title %>

  </span>
  <span class='actions'>
    
    <%= link_to refinery_icon_tag("application_go.png"), refinery.footers_footer_path(footer),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_footers_admin_footer_path(footer),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.footers_admin_footer_path(footer),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => footer.title),
        :method => :delete %>
  </span>
</li>
