<section id='records'>
  <%= render 'records' %>
</section>
<aside id='actions'>
  <%= render 'actions' %>
</aside>
<%= render '/refinery/admin/make_sortable', :tree => false if !searching? and ::Refinery::Footers::Admin::FootersController.sortable? and ::Refinery::Footers::Footer.count > 1 %>
